<IfModule mod_rewrite.c>
RewriteEngine On
# Check if the host matches www.some-site
RewriteCond %{HTTP_HOST} ^www\.succubus-bdsm\.com$

RewriteCond %{REQUEST_URI} !^/contactanos

# Redirect /author/article to https://blog.new-site/article
RewriteRule ^[a-z]+/(.*)$ https://blog.succubus-bdsm.com/$1 [R=301,L]
</IfModule>
