---
import Default from "@/layouts/Default.astro";
import Container from "@/components/Container.astro";
import Button from "@/components/Button.astro";
import BrandTitle from "@/components/BrandTitle.astro";

import Description from "@/components/home/Description.astro";
import QuotesSection from "@/components/home/QuotesSection.astro";
import LastArticles from "@/components/home/LastArticles.astro";
import Community from "@/components/home/Community.astro";
import Poll from "@/components/home/Poll.astro";
---

<Default>
  <Container>
    <header class="hero py-7">
      <BrandTitle class="hero__header" />

      <h2>
        <i> Placeres ocultos </i>
      </h2>
      <img src="/images/separator.svg" alt="" />
      <Button href="https://blog.succubus-bdsm.com/">Ir al Blog</Button>
    </header>

    <Description />
    <QuotesSection />

    <LastArticles />
    <Poll />
    <Community />
  </Container>
</Default>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 7em 0;
    gap: 5em;
    position: relative;
  }

  .hero__header {
    font-size: 6rem;
    letter-spacing: 8px;
  }

  @media (min-width: 700px) {
    .hero__header {
      font-size: 10rem;
    }
  }

  h2 > i {
    font-weight: normal;
  }
</style>
