---
import Default from "@/layouts/Default.astro";
import Container from "@/components/Container.astro";
import Button from "@/components/Button.astro";
---

<Default>
  <Container>
    <header class="hero">
      <h1 class="brand-header hero__header">
        Suc
        <span class="brand-header__intermediary"> c </span>
        ubus
      </h1>
      <h2>
        <i> Placeres ocultos </i>
      </h2>
      <img src="/images/separator.svg" alt="" />
      <Button href="https://blog.succubus-bdsm.com/">Ir al Blog</Button>
    </header>
  </Container>
</Default>
