---
import Default from "@/layouts/Default.astro";
import Container from "@/components/Container.astro";
---

<Default>
  <Container>
    <header class="hero">
      <h1 class="brand-header hero__header">
        Suc
        <span class="brand-header__intermediary"> c </span>
        ubus
      </h1>
    </header>
  </Container>
</Default>
