---
import Default from "@/layouts/Default.astro";
import Container from "@/components/Container.astro";
import Button from "@/components/Button.astro";
import BrandTitle from "@/components/BrandTitle.astro";

import Description from "@/components/home/Description.astro";
import QuotesSection from "@/components/home/QuotesSection.astro";
---

<Default>
  <Container>
    <header class="hero">
      <BrandTitle class="hero__header" />

      <h2>
        <i> Placeres ocultos </i>
      </h2>
      <img src="/images/separator.svg" alt="" />
      <Button href="https://blog.succubus-bdsm.com/">Ir al Blog</Button>
    </header>

    <Description />
    <QuotesSection />
  </Container>
</Default>

<style></style>
