---
import { Picture, getImage } from "astro:assets";

import succubusPapers from "@/assets/papeleria.jpg";
import Stickers from "@/assets/pegatinas-logo-blanco-y-negro.png";

import Default from "@/layouts/Default.astro";

import Container from "@/components/Container.astro";

import TeamMember from "@/components/aboutus/TeamMember.astro";

import InstagramLogo from "@/assets/instagram-logo.png";
import LinkedInLogo from "@/assets/linkedin-logo.png";

const optimizedSuccubusPapers = await getImage({
  src: succubusPapers,
  format: "webp",
});

const teamMembers = [
  {
    name: "Niguel Cruz Serafín",
    charge: "CO-Fundador/CEO",
    bio: "Fotógrafo , friki y amante del arte… Un poco loco también, lo admito… ",
    socials: [
      {
        src: "/images/facebook-logo.svg",
        href: "https://www.facebook.com/Vampicerdito",
        alt: "Facebook logo",
      },
      {
        src: "/images/x-logo.svg",
        href: "https://twitter.com/Vampicerdo",
        alt: "X icon",
      },
      {
        src: InstagramLogo,
        href: "https://www.instagram.com/vampicerdito_oficial/",
        alt: "Instagram Logo",
      },
    ],
  },
  {
    name: "Esther López Alcaráz",
    charge: "CO-Fundadora/CDO",
    bio: "Graduada de Historia del Arte, diseñadora amateur  y  community manager.",
    socials: [
      {
        src: "/images/facebook-logo.svg",
        href: "https://www.facebook.com/stella.howell.104",
        alt: "Facebook logo",
      },
      {
        src: InstagramLogo,
        href: "https://www.instagram.com/ella.howell25/",
        alt: "Instagram Logo",
      },
    ],
  },
  {
    name: "José Carlos García",
    charge: "CO-Fundador/CTO",
    bio: "Ingeniero de software especializado en el desarrollo web.",
    socials: [
      {
        src: LinkedInLogo,
        href: "https://www.linkedin.com/in/jose-garcia-888941180/",
        alt: "LinkedIn logo",
      },
      {
        src: "/images/link-variant.svg",
        href: "https://www.jose-garcia.net/",
        alt: "Instagram Logo",
      },
    ],
  },
];
---

<Default title="Sobre nosotros">
  <header>
    <div
      class="overlay"
      style={`background-image: url(${optimizedSuccubusPapers.src})`}
    >
    </div>
    <h1 class="page-title">
      Sobre <span class="page-title__second-word-first-letter">n</span>osotros
    </h1>
  </header>

  <Container>
    <section class="mission">
      <div class="mission__picture">
        <Picture
          src={Stickers}
          widths={[1280, Stickers.width]}
          formats={["avif", "webp"]}
          class="mission__img"
          alt="Pegatinas del logo de Succubus representando en fondo oscuro y claro."
        />
      </div>
      <div class="mission__content">
        <h2>Nuestra Misión</h2>
        <p class="mt-1">
          Nuestra Misión Somos un proyecto especializado en la divulgación de
          información sobre el BDSM, haciendo énfasis en la comunidad vernácula.
          Nuestro mayor reto consiste en sacar a la luz información veraz y
          confiable dentro de este tema tan lleno de tabúes y falsa información.
        </p>
      </div>
    </section>
    <section class="team mx-auto mb-7">
      <h2>Nuestro Equipo</h2>
      <div class="team__members gap-20 mt-4">
        {
          teamMembers.map((teamMember) => (
            <TeamMember teamMember={teamMember} />
          ))
        }
      </div>
    </section>
  </Container>
</Default>

<style lang="scss">
  @use "../styles/scssVariables";

  header {
    background-position: center;
    background-size: cover;
    padding: 230px 0;
    position: relative;
    text-align: center;
  }

  .page-title {
    text-transform: uppercase;
    position: relative;
    font-size: 6rem;
    line-height: 1;
    width: 100%;
    word-spacing: 0.2em;
  }

  .page-title__second-word-first-letter {
    color: var(--color-accent);
  }

  .overlay {
    filter: brightness(80%) contrast(110%) saturate(80%) blur(2px)
      hue-rotate(0deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.3;
  }

  section {
    text-align: center;
  }

  h2 {
    font-family: var(--font-serif);
    font-size: 4rem;
    font-weight: normal;
    line-height: 1em;
    text-transform: uppercase;
  }

  .mission {
    margin-bottom: 6em;
  }

  @media (min-width: scssVariables.$small) {
    .mission {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-bottom: 0em;
      text-align: left;
    }
  }

  .mission__picture {
    flex-basis: 60%;
  }

  .mission__img {
    width: 100%;
    height: auto;
  }

  .mission__content {
    flex-basis: 40%;
  }

  .team {
    text-align: center;
    max-width: 1200px;
  }

  .team__members {
    display: flex;
    flex-direction: column;
    gap: 5em;
  }

  @media (min-width: scssVariables.$small) {
    .team__members {
      display: flex;
      flex-direction: row;
    }
  }
</style>
