---
import Default from "@/layouts/Default.astro";
import Container from "@/components/Container.astro";
---

<Default>
  <Container class="content py-7">
    <header>
      <h1>Términos de servicio</h1>
    </header>

    <section>
      <h2>Introducción</h2>

      <p>
        Bienvenido a Succubus. Al acceder o utilizar nuestro sitio web, acepta
        cumplir y quedar vinculado por los siguientes términos y condiciones.
        Estas condiciones, describen sus derechos y responsabilidades al
        utilizar nuestros servicios. Si no está de acuerdo con estas
        condiciones, no utilice nuestro sitio web.
      </p>
      <p>
        Estas Condiciones del servicio se aplican a todos los visitantes,
        usuarios y demás personas que accedan o utilicen Succubus (el
        "Servicio").
      </p>
    </section>

    <section>
      <h2>General</h2>

      <p>
        Los usuarios deben ser mayores de edad en su respectivo país de origen
        para usar este sitio.
      </p>

      <p>
        Nuestra edición solo incluye errores estructurales y de relación a
        enriquecimiento visual del mismo
      </p>
    </section>

    <section>
      <h2>Contenido</h2>
      <p>
        Su contenido:Usted conserva la propiedad de cualquier contenido que
        publique, envíe o ponga a disposición de otro modo en nuestro sitio web
        (el "Contenido del usuario").Al publicar Contenido del usuario, nos
        concede una licencia mundial, no exclusiva y libre de regalías para
        utilizar, reproducir, modificar y distribuir su contenido en relación
        con el funcionamiento y la promoción del sitio web. Los escritores
        tienen libertad expresiva siempre que el contenido no sea político o
        fuera del tema de la publicación (BDSM). Nos reservamos el derecho no
        publicar este tipo de artículos. Succubus no endorsa opiniones
        expresadas por sus escritores.
      </p>
      <p>
        Nuestro contenido: Todo el contenido proporcionado en nuestro sitio web,
        incluyendo texto, gráficos, logotipos, imágenes y software, es propiedad
        de Succubus o de sus licenciantes y está protegido por las leyes de
        propiedad intelectual. Usted no puede utilizar nuestro contenido sin
        nuestro permiso expreso por escrito.
      </p>
      <p>
        Contenido prohibido: Usted se compromete a no publicar ni enviar ningún
        contenido que sea ilegal, infractor, difamatorio, obsceno o censurable
        por cualquier otro motivo. Nos reservamos el derecho a eliminar
        cualquier contenido que infrinja estas condiciones o se considere
        inapropiado a nuestra discreción.
      </p>
      <p>
        Responsabilidad del contenido: Usted es el único responsable del
        contenido que publique o envíe. Usted declara y garantiza que tiene los
        derechos necesarios para concedernos la licencia descrita anteriormente
        y que su contenido no infringe los derechos de terceros.
      </p>
      <p>
        Contenido de terceros: Nuestro sitio web puede incluir contenidos de
        terceros. No somos responsables de la exactitud, fiabilidad o legalidad
        de dichos contenidos y no respaldamos las opiniones expresadas por
        terceros.
      </p>
    </section>

    <section>
      <h2>Otros derechos que Succubus se reserva</h2>

      <ul>
        <li>Ocultar o borrar artículos.</li>
        <li>Bannear direcciones electrónicas.</li>
        <li>Eliminar la cuenta de un escritor.</li>
      </ul>
    </section>

    <p>
      Gracias por visitar Succubus. Esperamos que disfrute de su experiencia.
    </p>
  </Container>
</Default>

<style>
  .content {
    max-width: 700px;
  }

  section {
    margin-top: 3em;
  }

  p {
    margin-top: 0.7em;
  }
</style>
