---
import { Picture } from "astro:assets";

import CubanComunity from "@/assets/comunidad-cubana.png";

import Button from "@/components/Button.astro";

import "@/styles/_variables.scss";
---

<section class="py-7 gap-10">
  <div class="content-container gap-5">
    <h2>Comunidad Cubana</h2>
    <p>
      La Comunidad Cubana de BDSM, es una comunidad creada para agrupar a las
      personas interesadas en el tema, dentro y fuera del país, un lugar donde
      puedes aprender y compartir libremente tus más profundos deseos.
    </p>
    <Button class="button mr-auto gap-2">
      <img
        src="/images/facebook-logo.svg"
        alt="Facebook logo"
        class="button__img"
      />
      <span> Unirme </span>
    </Button>
  </div>
  <div class="img-container">
    <Picture
      src={CubanComunity}
      widths={[1280, CubanComunity.width]}
      formats={["avif", "webp"]}
      class="section__img"
      alt="A description of my image."
    />
  </div>
</section>

<style lang="scss">
  @use "../../styles/variables";

  section {
    align-items: center;
    max-width: 940px;
    margin: auto;
  }

  @media (min-width: variables.$small) {
    section {
      display: flex;
    }
  }

  .section__img {
    height: auto;
    width: 100%;
  }

  .content-container,
  .img-container {
    flex-basis: 50%;
  }

  .button {
    display: flex;
    align-items: center;
  }

  .button__img {
    height: auto;
    width: 20px;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-family: var(--font-serif);
    font-size: 5rem;
    font-weight: normal;
    line-height: 1em;
    text-transform: uppercase;
  }
</style>
