---
import { Image } from "astro:assets";

import Button from "@/components/Button.astro";
---

<section class="pb-7">
  <div class="img-container">
    <Image
      src="/images/dominante-sumiso-logo.svg"
      alt="Logo que representa la relación sumiso/dominante"
      width={399.2}
      height={565.05}
      class="section__img"
    />
  </div>
  <div class="content-container gap-5">
    <h2>Encuesta</h2>
    <p>Descubre tu personalidad BDSM.</p>
    <p>
      ¿Te interesa saber que arquetipos BDSM te describen mejor? Tenemos
      diferentes encuestas para determinarlo con precisión. Entérate hoy.
    </p>
    <Button
      class="button mr-auto gap-2"
      openNewPage={true}
      href="https://test.succubus-bdsm.com/"
    >
      <span> Hacer encuesta </span>
    </Button>
  </div>
</section>

<style lang="scss">
  @use "../../styles/scssVariables";

  section {
    align-items: center;
    max-width: 940px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: scssVariables.$small) {
    section {
      flex-direction: row;
      gap: 5em;
    }
  }

  .section__img {
    height: auto;
    width: 80%;
    margin: auto;
  }

  @media (min-width: scssVariables.$small) {
    .section__img {
      height: auto;
      width: 100%;
    }
  }

  .content-container,
  .img-container {
    flex-basis: 50%;
  }

  div {
    display: flex;
    flex-direction: column;
  }
</style>
