---
import { Picture } from "astro:assets";

import QuoteImage from "@/assets/quote-image.png";
---

<section class="py-7">
  <span>
    <Picture
      src={QuoteImage}
      widths={[1280, QuoteImage.width]}
      formats={["avif", "webp"]}
      class="quote-image"
      alt="A description of my image."
    />
  </span>
  <blockquote class="gap-5">
    <p>
      "Aprender la práctica BDSM es como aprender a tener sexo desde el
      principio (...) El resto del mundo no tiene ni idea hasta que punto es
      cariñoso e íntimo este acto"
    </p>
    <p>"Nosotros, también, estamos en todas partes"</p>
    <footer>
      <cite>
        <a
          href="https://www.infolibro.es/libro-bdsm-introduccion-a-las-tecnicas-y-su-significado"
        >
          Jay Wiseman, BDSM. Introducción a las técnicas y su significado
        </a>
      </cite>
    </footer>
  </blockquote>
  <span></span>
</section>

<style lang="scss">
  @use "../../styles/scssVariables";

  section {
    max-width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: scssVariables.$small) {
    section {
      display: flex;
      align-items: center;
    }
  }

  .quote-image {
    height: auto;
    width: 100%;
    padding: 2em 9em;
  }

  @media (min-width: scssVariables.$small) {
    .quote-image {
      height: auto;
      width: 100%;
      padding: 2em 14em;
    }
  }

  @media (min-width: scssVariables.$small) {
    .quote-image {
      padding: 0 1em;
    }
  }

  blockquote {
    font-size: 1.2rem;
    line-height: 1.7;
    padding: 0 3em;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: scssVariables.$small) {
    blockquote {
      flex-basis: 80%;
    }
  }

  @media (min-width: scssVariables.$small) {
    span {
      flex-basis: 10%;
      width: 100%;
    }
  }

  a {
    color: white;
  }
</style>
