---

---

<h2 class="subtitle" class:list={className}>
  <i> Placeres ocultos </i>
</h2>

<style>
  .subtitle > i {
    font-weight: normal;
    font-family: var(--font-sans-serif);
    font-size: 1.4rem;
    text-transform: initial;
  }
</style>
