---
const { tag = "h1", class: className, ...rest } = Astro.props;

const Parent = tag;
---

<Parent class="brand-header" class:list={className} {...rest}>
  Suc
  <span class="brand-header__intermediary"> c </span>
  ubus
</Parent>

<style lang="scss">
  @use "../styles/scssVariables.scss";

  .brand-header {
    display: flex;
    font-family: var(--font-serif);
    text-transform: uppercase;
    font-size: 4.6rem;
  }

  .brand-header__intermediary {
    color: var(--color-accent);
  }
</style>
