---
const { href, underline, class: className, ...rest } = Astro.props;
---

<a href={href} class:list={[underline ? "underline" : "", className]} {...rest}>
  <slot />
</a>

<style>
  a {
    text-decoration: none;
  }

  .underline {
    text-decoration: underline;
  }
</style>
