---
import BrandTitle from "@/components/BrandTitle.astro";
import BrandSubtitle from "@/components/BrandSubtitle.astro";
import Link from "@/components/Link.astro";

import Button from "./Button.astro";

const { links } = Astro.props;
---

<script>
  const navMenuOpen = document.getElementById("nav-menu-open");
  const navMenuClose = document.getElementById("nav-menu-close");
  const linksContainer = document.getElementById("links-container");

  navMenuOpen.addEventListener("click", () => {
    linksContainer.classList.remove("links-container--hidden");
  });

  navMenuClose.addEventListener("click", () => {
    linksContainer.classList.add("links-container--hidden");
  });
</script>

<div>
  <div id="nav-menu-open">
    <Button icon={true}>
      <img
        src="/images/menu.svg"
        alt="Ícono del menu"
        width="30px"
        height="30px"
      />
    </Button>
  </div>

  <div id="links-container" class="links-container links-container--hidden">
    <div id="nav-menu-close">
      <Button icon={true} class="close-button">
        <img
          src="/images/close.svg"
          alt="Ícono para cerrar menú"
          width="30px"
          height="30px"
        />
      </Button>
    </div>

    <BrandTitle tag="p" />
    <BrandSubtitle tag="p" />

    <img src="/images/separator.svg" alt="Separador" />

    <ul>
      {
        links.map((link) => (
          <li>
            <Link href={link.href} class="nav__link">
              {link.text}
            </Link>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style lang="scss">
  .links-container {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-1);
    transition-duration: 0.2s;
    gap: 1em;
    font-size: 1.5rem;

    .close-button {
      position: fixed;
      top: 12px;
      right: 16px;
      z-index: 60;
    }

    ul {
      list-style-type: none;
      text-align: center;
    }

    li {
      margin-top: 1em;
    }

    a {
      color: white;
    }
  }

  .links-container--hidden {
    transform: translateX(100%);
  }
</style>
