---
import Link from "@/components/Link.astro";
import Container from "@/components/Container.astro";
import NavBarSmall from "./NavBarSmall.astro";

const links = [
  {
    text: "Inicio",
    href: "/",
  },
  {
    text: "Blog",
    href: "https://blog.succubus-bdsm.com",
  },
  {
    text: "Encuesta",
    href: "https://test.succubus-bdsm.com/",
  },
];
---

<script>
  import Alpine from "alpinejs";

  document.addEventListener("alpine:init", () => {
    Alpine.data("nav", () => ({
      isSmAndDown: true,
      init() {
        const update = () => {
          const width = window.innerWidth;
          this.isSmAndDown = width < 768;
        };

        const isSmAndDownListener = window.matchMedia("(max-width: 768px)");
        isSmAndDownListener.addEventListener("change", update);
        update();
      },
    }));
  });
</script>

<nav x-data="nav">
  <Container class="nav__container">
    <a href="/">
      <img src="/images/logo.svg" alt="Logo" class="nav__img" />
    </a>

    <div x-show="isSmAndDown" class="ml-auto">
      <NavBarSmall links={links} />
    </div>

    <ul class="nav__links ml-auto" id="nav__links" x-show="!isSmAndDown">
      {
        links.map((link) => (
          <li>
            <Link href={link.href} class="nav__link">
              {link.text}
            </Link>
          </li>
        ))
      }
    </ul>
  </Container>
</nav>

<style>
  .nav__container {
    display: flex;
    align-items: center;
    color: var(--color-gray-light-1);
  }

  .nav__img {
    height: 80px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .nav__links {
    display: flex;
    gap: 2em;
    list-style-type: none;
  }

  .nav__link {
    color: var(--color-gray-light-1);
  }
</style>
