---
import Link from "@/components/Link.astro";
import Container from "@/components/Container.astro";

const links = [
  {
    text: "Inicio",
    href: "/",
  },
  {
    text: "Blog",
    href: "https://blog.succubus-bdsm.com",
  },
  {
    text: "Encuesta",
    href: "https://test.succubus-bdsm.com/",
  },
];
---

<nav>
  <Container class="nav__container">
    <a href="/">
      <img src="/images/logo.svg" alt="Logo" class="nav__img" />
    </a>

    <ul class="nav__links">
      {
        links.map((link) => (
          <li>
            <Link href={link.href} class="nav__link">
              {link.text}
            </Link>
          </li>
        ))
      }
    </ul>
  </Container>
</nav>

<style>
  .nav__container {
    display: flex;
    align-items: center;
    color: var(--color-gray-light-1);
  }

  .nav__img {
    height: 80px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .nav__links {
    display: flex;
    margin-left: auto;
    gap: 2em;
    list-style-type: none;
  }

  .nav__link {
    color: var(--color-gray-light-1);
  }
</style>
