---
import Link from "@/components/Link.astro";
import Container from "@/components/Container.astro";
import NavBarSmall from "./NavBarSmall.astro";

const links = [
  {
    text: "Inicio",
    href: "/",
  },
  {
    text: "Blog",
    href: "https://blog.succubus-bdsm.com",
  },
  {
    text: "Encuesta",
    href: "https://test.succubus-bdsm.com/",
  },
];
---

<script>
  let navBarSmall = document.getElementById("navbar-small");
  let navBarBig = document.getElementById("navbar-big");

  const update = () => {
    const width = window.innerWidth;

    if (width < 768) {
      navBarSmall.style.display = "block";
      navBarBig.style.display = "none";
    } else {
      navBarSmall.style.display = "none";
      navBarBig.style.display = "flex";
    }
  };

  window.addEventListener("load", () => {
    const isSmAndDownListener = window.matchMedia("(max-width: 768px)");
    isSmAndDownListener.addEventListener("change", update);
    update();
  });
</script>

<nav>
  <Container class="nav__container">
    <a href="/">
      <img src="/images/logo.svg" alt="Logo" class="nav__img" />
    </a>

    <div id="navbar-small" class="nav ml-auto">
      <NavBarSmall links={links} />
    </div>

    <ul id="navbar-big" class="nav nav__links ml-auto" id="nav__links">
      {
        links.map((link) => (
          <li>
            <Link href={link.href} class="nav__link">
              {link.text}
            </Link>
          </li>
        ))
      }
    </ul>
  </Container>
</nav>

<style>
  .nav {
    display: none;
  }

  .nav__container {
    display: flex;
    align-items: center;
    color: var(--color-gray-light-1);
  }

  .nav__img {
    height: 80px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .nav__links {
    display: flex;
    gap: 2em;
    list-style-type: none;
  }

  .nav__link {
    color: var(--color-gray-light-1);
  }
</style>
