---

---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <style is:global>
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      * {
        margin: 0;
      }

      body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
      }

      input,
      button,
      textarea,
      select {
        font: inherit;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
